.auctionItem {
  background: linear-gradient(145deg, #1a1a1a, #222);
  border: 2px solid #333;
  border-radius: 20px;
  padding: 25px;
  text-align: left;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auctionItem:hover {
  transform: translateY(-5px);
  border-color: #66ff99;
  box-shadow: 0 12px 25px rgba(102, 255, 153, 0.2);
}

.auctionItem h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #66ff99;
}

.auctionItem h2 {
  font-size: 1rem;
  margin: 4px 0;
  color: #ccc;
}

.auctionItem img {
  min-width: 250px;
  width: 300px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #444;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.auctionItem img:hover {
  transform: scale(1.05);
}

h2, p {
  padding-left: 10px;
}
.button{
  padding: 8px 5px;
  margin: 8px 0;
  border-radius: 20px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: #ccc;
    background-color: #1a1a1a;
    font-size: 1.1rem;
    font-weight:bold;
    align-self: center;
    margin-bottom: 20px;
}
.button:hover {
  transform: translateY(-5px);
  border-color: #66ff99;
  box-shadow: 0 12px 25px rgba(102, 255, 153, 0.2);
  transition: 0.3s ease-in;
}
.button:first-of-type{
  margin-right: 20px;
}
.buttons{
  display: flex;
  align-self: center;
  margin-top:  20px;
}