* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

a{
  text-decoration: none;
  color: inherit;
}

.content{
  display: inline;
  flex: 1;
  background-color: #1E1E1E;
  color: aliceblue;
}

