
.tableContainer {
  width: 100%;
  overflow-x: auto; 
}
.tableContainer h2:first-of-type{
    text-align: center;
    margin: 20px 0;
}
.usersTable {
  width: 100%;
  border-collapse: collapse; 
}

.usersTable th,
.usersTable td {
  border: 1px solid #333; 
  padding: 10px;
  text-align: left;
  color: #ccc;
}

.usersTable th {
  font-weight: bold; 
}
.button{
  padding: 8px 5px;
  border-radius: 20px;
  width: 50px;
  border: 2px solid #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: #ccc;
    background-color: #1a1a1a;
    font-size: 0.9rem;
    font-weight:bold;
    align-self: center;
    width: 40%;
}
.button:first-of-type{
    margin-right: 10px;
}
.button:hover {
  transform: translateY(-3px);
  border-color: #66ff99;
  box-shadow: 0 12px 25px rgba(102, 255, 153, 0.2);
  transition: 0.3s ease-in;
}