.body{
    background-color: #1E1E1E;
    color: aliceblue;
}



.auctionItems{
  display: flex;
  justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
        width: 100%;
    max-width: 1400px;
}
.container h1:first-of-type{
  margin-top: 20px;
}
.auctionList {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 25px;
  justify-content: center;
  align-items: stretch;
  padding: 50px 0;
}

.container h1:first-of-type{
  text-align: center;
  align-self: center;
}

.container .create_Btn{
  padding: 8px 5px;
  margin: 8px 0;
  border-radius: 20px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: #ccc;
    background-color: #1a1a1a;
    font-size: 1.1rem;
    font-weight:bold;
    align-self: center;
    margin-bottom: 20px;
}
.container .create_Btn:hover {
  transform: translateY(-5px);
  border-color: #66ff99;
  box-shadow: 0 12px 25px rgba(102, 255, 153, 0.2);
  transition: 0.3s ease-in;
}
