.body{
    background-color: #1E1E1E;
    color: aliceblue;
}

.auctionItems{
  display: flex;
  justify-content: center;
}


.container{
    width: 100%;
    max-width: 1400px;
}
.auctionList {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 25px;
  justify-content: center;
  align-items: stretch;
  padding: 50px 0;
}

.container h1:first-of-type{
  text-align: center;
  align-self: center;
}