.body h1{
    text-align: center;
    padding: 20px 0;
}

.auctionListings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.auctionListings > * {
    margin-bottom: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.container .create_Btn{
  padding: 8px 5px;
  margin: 8px 0;
  border-radius: 20px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: #ccc;
    background-color: #1a1a1a;
    font-size: 1.1rem;
    font-weight:bold;
    align-self: center;
    margin-bottom: 20px;
}
.container .create_Btn:hover {
  transform: translateY(-5px);
  border-color: #66ff99;
  box-shadow: 0 12px 25px rgba(102, 255, 153, 0.2);
}

