form button{
  padding: 8px 5px;
  border-radius: 20px;
  width: 200px;
  border: 2px solid #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: #ccc;
    background-color: #1a1a1a;
    font-size: 1.1rem;
    font-weight:bold;
    align-self: center;
    margin: 10px 0;
    width: 100%;
}
form button:hover {
  transform: translateY(-3px);
  border-color: #66ff99;
  box-shadow: 0 12px 25px rgba(102, 255, 153, 0.2);
  transition: 0.3s ease-in;
}